
    <div class="panel panel-default">

        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <dl>
                        <dt>Tipo</dt>
                        <dd>{{ evento.tipo|title }}</dd>
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Organizador</dt>
                        {% if evento.organizador == true %}
                            <dd><span class="label label-success">Si</span></dd>
                        {% else %}
                            <dd><span class="label label-danger">No</span></dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Nacional</dt>
                        {% if evento.nacional == true %}
                            <dd><span class="label label-success">Si</span></dd>
                        {% else %}
                            <dd><span class="label label-danger">No</span></dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Divulgación</dt>
                        {% if evento.divulgacion == true %}
                            <dd><span class="label label-success">Si</span></dd>
                        {% else %}
                            <dd><span class="label label-danger">No</span></dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>País</dt>
                        <dd>{{ evento.pais }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Institución</dt>
                        <dd>{{ evento.institucion }}</dd>
                    </dl>
                </div>
                <div class="col-md-12">
                    <dl>
                        <dt>Plática</dt>
                        <dd>{{ evento.platica }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Actividad</dt>
                        <dd>{{ evento.actividad }}</dd>
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Inicio</dt>
                        <dd>{{ evento.inicio|localizeddate('long', 'none') }}</dd>
                    </dl>

                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Fin</dt>
                        <dd>{{ evento.fin|localizeddate('long', 'none') }}</dd>
                    </dl>

                </div>
                <div class="col-md-12">
                    <dl>
                        <dt>Información</dt>
                        <dd>{{ evento.informacion }}</dd>
                    </dl>
                </div>


            </div>
        </div>
    </div>


<div class="row">
    <div class="col-lg-7 col-lg-offset-5">

        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {% if enviado != true %}
            <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')" >
        {% endif %}
        {{ form_end(delete_form) }}

    </div>
</div>