{% extends 'dash/index.html.twig' %}

{% form_theme edit_form 'form_errors.html.twig' %}

{% block sidebar %}
    <li>
        <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
    </li>
{% endblock %}

{% block wrapper %}
    <div class="row">

        <div class="col-lg-12">
            <br><h3 class="page-header">{{ academico.nombre }} {{ academico.apellido }}</h3><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <ol class="breadcrumb">
        <li><a href="{{ path('academico_index') }}">Academicos</a></li>
        <li class="active">{{ academico.nombre }} {{ academico.apellido }}</li>

    </ol>

    {{ form_start(edit_form) }}


    <div class="panel panel-default">
    <div class="panel-body">
    <div class="row">

        {% if edit_form.nombre is defined %}
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.nombre) }}
                </div>
                <div>
                    {{ form_widget(edit_form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre'} } ) }}
                </div>
                <div>{{ form_errors(edit_form.nombre) }}</div>
            </div>
        </div>
        {% endif %}

    {% if edit_form.apellido is defined %}
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.apellido) }}
                </div>
                <div>
                    {{ form_widget(edit_form.apellido,{'attr': {'class': 'form-control input-sm', 'placeholder':'Apellido(s)'} } ) }}
                </div>
                <div>{{ form_errors(edit_form.apellido) }}</div>
            </div>
        </div>
    {% endif %}

    {% if edit_form.nacimiento is defined %}
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.nacimiento) }}
                </div>
                <div>
                    {{ form_widget(edit_form.nacimiento,{'attr': {'class': 'form-control input-sm', 'placeholder':'Fecha de Nacimiento'} } ) }}
                </div>
                <div>{{ form_errors(edit_form.nacimiento) }}</div>
            </div>
        </div>
    {% endif %}

    {% if edit_form.rfc is defined %}

        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.rfc) }}
                </div>
                <div>
                    {{ form_widget(edit_form.rfc,{'attr': {'class': 'form-control input-sm', 'placeholder':'RFC'} } ) }}
                </div>
                <div>{{ form_errors(edit_form.rfc) }}</div>
            </div>
        </div>
    {% endif %}

    {% if edit_form.user is defined %}
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.user) }}
                </div>
                <div>
                    {{ form_widget(edit_form.user,{'attr': {'class': 'form-control input-sm', 'placeholder':'RFC'} } ) }}
                </div>
                <div>{{ form_errors(edit_form.user) }}</div>
            </div>
        </div>

    {% endif %}

    {% if edit_form.aprobado is defined %}
    <div class="col-lg-2">
        <div class="form-group">
            <div>
                {{ form_label(edit_form.aprobado) }}
            </div>
            <div>
                {{ form_widget(edit_form.aprobado,{'attr': {'class': 'form-control input-sm', 'placeholder':'RFC'} } ) }}
            </div>
            <div>{{ form_errors(edit_form.aprobado) }}</div>
        </div>
    </div>
    {% endif %}

     {% if edit_form.activo is defined %}
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(edit_form.activo) }}
                </div>
                <div>
                    {{ form_widget(edit_form.activo) }}
                </div>
                <div>{{ form_errors(edit_form.activo) }}</div>
            </div>
        </div>

    {% endif %}

    </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">
            <input type="submit" value="Guardar"  class="btn btn-primary"/>
            <a href="{{ path('academico_index') }}" class="btn btn-warning" role="button">Cancelar</a>
            {{ form_end(edit_form) }}
        </div>
    </div>

    {#
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
        #}

{% endblock %}