{% extends 'dash/index.html.twig' %}

{% block wrapper %}
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Información de la cuenta</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nacimiento</th>
                <th>Rfc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for academico in academicos %}
            <tr>
                <td><a href="{{ path('academico_show', { 'id': academico.id }) }}">{{ academico.id }}</a></td>
                <td>{{ academico.nombre }}</td>
                <td>{{ academico.apellido }}</td>
                <td>{% if academico.nacimiento %}{{ academico.nacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ academico.rfc }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('academico_show', { 'id': academico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('academico_edit', { 'id': academico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('academico_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
