{% extends 'dash/index.html.twig' %}

{% form_theme form 'form_errors.html.twig' %}

{% block wrapper %}

    <div class="row">

        <div class="col-lg-12">
            <br><h3 class="page-header">Nuevo académico</h3><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <ol class="breadcrumb">
        <li><a href="{{ path('academico_index') }}">Academicos</a></li>
        <li class="active">Nuevo</li>

    </ol>



    <div class="panel panel-default">
    <div class="panel-body">
    <div class="row">

        {{ form_start(form) }}

        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(form.nombre) }}
                </div>
                <div>
                    {{ form_widget(form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre'} } ) }}
                </div>
                <div>{{ form_errors(form.nombre) }}</div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(form.apellido) }}
                </div>
                <div>
                    {{ form_widget(form.apellido,{'attr': {'class': 'form-control input-sm', 'placeholder':'Apellido(s)'} } ) }}
                </div>
                <div>{{ form_errors(form.apellido) }}</div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(form.nacimiento) }}
                </div>
                <div>
                    {{ form_widget(form.nacimiento,{'attr': {'class': 'form-control input-sm', 'placeholder':'Fecha de Nacimiento'} } ) }}
                </div>
                <div>{{ form_errors(form.nacimiento) }}</div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(form.rfc) }}
                </div>
                <div>
                    {{ form_widget(form.rfc,{'attr': {'class': 'form-control input-sm', 'placeholder':'RFC'} } ) }}
                </div>
                <div>{{ form_errors(form.rfc) }}</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div>
                    {{ form_label(form.user) }}
                </div>
                <div>
                    {{ form_widget(form.user,{'attr': {'class': 'form-control input-sm', 'placeholder':'RFC'} } ) }}
                </div>
                <div>{{ form_errors(form.user) }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">
            <input type="submit" value="Guardar"  class="btn btn-primary"/>
            <a href="{{ path('academico_index') }}" class="btn btn-warning" role="button">Cancelar</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}