{% form_theme edit_form 'form_errors.html.twig' %}

{{ form_start(edit_form, {'action': path('proyectos_edit', { 'id': id})}) }}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-group">
                    <div>
                        {{ form_label(edit_form.nombre) }}
                    </div>
                    <div>
                        {{ form_widget(edit_form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del proyecto'} } ) }}
                    </div>
                    <div>{{ form_errors(edit_form.nombre) }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="edit_form-group">
                    <div>
                        {{ form_label(edit_form.numero) }}
                    </div>
                    <div>
                        {{ form_widget(edit_form.numero,{'attr': {'class': 'form-control input-sm', 'placeholder':'Número de proyecto'} } ) }}
                    </div>
                    <div>{{ form_errors(edit_form.numero) }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(edit_form.tipo) }}
                    </div>
                    <div>
                        {{ form_widget(edit_form.tipo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Otro tipo de programa'} } ) }}
                    </div>
                    <div>{{ form_errors(edit_form.tipo) }}</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        <input type="submit" value="Guardar"  class="btn btn-primary"/>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {{ form_end(edit_form) }}
    </div>
</div>