{% extends 'dash/index.html.twig' %}

{% block wrapper %}

    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>

    <div class="row">


        <!-- Proyectos -->
        <div class="col-lg-8">

            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}">Inicio</a></li>
                <li class="active">Informe</li>
                <li class="active">Proyectos</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">

                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-tasks fa-1x" aria-hidden="true"></i> <strong>Proyectos</strong>
                        </a>
                        {% if enviado != true  %}
                        <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#proyectosnewModal">
                            <i class="fa fa-plus"></i> Nuevo </button>
                        {% endif %}
                        <!-- Button trigger modal -->
                    </h4>

                    <!-- Modal -->
                    <div class="modal fade" id="proyectosnewModal" tabindex="-1" role="dialog" aria-labelledby="proyectosnewModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="proyectosnewModalLabel">Proyectos</h4>
                                </div>
                                <div class="modal-body">
                                    {% render(controller('InformeBundle:Proyectos:new')) %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="list-group">
                        {% for proyecto in proyectos %}
                            {% set proyectomodalshow = 'proyectoshowModal'~ proyecto.id  %}
                            {% set proyectomodaledit = 'proyectoeditModal'~ proyecto.id  %}

                            <li class="list-group-item">
                                <div class="page-header"><h4><i class="fa fa-file-text-o fa-x" aria-hidden="true"></i> {{ proyecto.nombre|title }} <small>{{ proyecto.numero }}</small></h4></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="label label-default">{{ proyecto.tipo }}</span>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ proyectomodalshow }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            {% if enviado != true  %}
                                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ proyectomodaledit }}" >
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ proyectomodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ proyectomodalshow }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ proyectomodalshow }}Label">{{ proyecto.nombre |title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Proyectos:show", {'id': proyecto.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="{{ proyectomodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ proyectomodaledit }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ proyectomodaledit }}Label">Proyectos</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Proyectos:edit", {'id': proyecto.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Proyectos -->

{% endblock %}
