{% form_theme form 'form_errors.html.twig' %}

{{ form_start(form, {'action': path('proyectos_new')}) }}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-group">
                    <div>
                        {{ form_label(form.nombre) }}
                    </div>
                    <div>
                        {{ form_widget(form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del proyecto'} } ) }}
                    </div>
                    <div>{{ form_errors(form.nombre) }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.numero) }}
                    </div>
                    <div>
                        {{ form_widget(form.numero,{'attr': {'class': 'form-control input-sm', 'placeholder':'Número de proyecto'} } ) }}
                    </div>
                    <div>{{ form_errors(form.numero) }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.tipos) }}
                    </div>
                    <div>
                        {{ form_widget(form.tipos,{'attr': {'class': 'form-control input-sm', 'placeholder':'Tipo de programa'} } ) }}
                    </div>
                    <div>{{ form_errors(form.tipos) }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.tipo) }}
                    </div>
                    <div>
                        {{ form_widget(form.tipo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Otro tipo de programa'} } ) }}
                    </div>
                    <div>{{ form_errors(form.tipo) }}</div>
                </div>
            </div>



        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        <input type="submit" value="Guardar"  class="btn btn-primary"/>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {{ form_end(form) }}
    </div>
</div>