{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="row">

        <div class="col-lg-12">
            <p></p>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>

    <div class="page-header">
        <h1>Cursos y seminarios</h1>
    </div>


    {{ form_start(edit_form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-2">
                    <div class="form-group">
                        <div>
                            {{ form_label(edit_form.tipo) }}
                        </div>
                        <div>
                            {{ form_widget(edit_form.tipo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del alumno'} } ) }}
                        </div>
                        <div>{{ form_errors(edit_form.tipo) }}</div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <div>
                            {{ form_label(edit_form.informacion) }}
                        </div>
                        <div>
                            {{ form_widget(edit_form.informacion,{'attr': {'class': 'form-control input-sm', 'placeholder':'Información del curso o seminario'} } ) }}
                        </div>
                        <div>{{ form_errors(edit_form.informacion) }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">
            <input type="submit" value="Guardar"  class="btn btn-primary"/>
            <a class="btn btn-warning" href="{{ path('dashboard') }}">Cancelar</a>

            {{ form_end(edit_form) }}


        </div>
    </div>

    

{% endblock %}
