{% extends 'dash/index.html.twig' %}

{% block wrapper %}

    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>

    <div class="row">


        <!-- Cursos y seminarios -->
        <div class="col-lg-8">

            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}">Inicio</a></li>
                <li class="active">Informe</li>
                <li class="active">Cursos y seminarios</li>
            </ol>

            <div class="alert alert-info" role="alert">
                <p class="text-justify"><strong><i class="fa fa-info-circle" aria-hidden="true"></i> Descripción:</strong> en este rubro deberá reportar los cursos y seminarios
                    impartidos durante el periodo que corresponde a su informe.</p>
                <p class="text-justify"><strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Importante</strong>: se ha precargado en este sistema
                    la información que nos proporciona el Sistema de Información Académica del CCM (SID), favor de verificar que la información
                    sea la correcta. Si hubiera algún curso o seminarios que no aparezca favor de agregarlo.</p>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-university fa-1x" aria-hidden="true"></i> <strong>Cursos y seminarios</strong>
                        </a>
                        {% if enviado != true  %}
                        <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#cursosnewModal">
                            <i class="fa fa-plus"></i> Nuevo </button>
                        {% endif %}
                        <!-- Button trigger modal -->
                    </h4>
                    <!-- Modal -->
                    <div class="modal fade" id="cursosnewModal" tabindex="-1" role="dialog" aria-labelledby="cursosnewModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="cursosnewModalLabel">Cursos y seminarios</h4>
                                </div>
                                <div class="modal-body">
                                    {% render(controller('InformeBundle:Cursos:new')) %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="list-group">
                        {% for curso in cursos %}
                            {% set cursomodalshow = 'cursoshowModal'~ curso.id  %}
                            {% set cursomodaledit = 'cursoeditModal'~ curso.id  %}

                            <li class="list-group-item">
                                <div class="page-header"><h4><i class="fa fa-book fa-x" aria-hidden="true"></i> {{ curso.nombre }}</h4></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="label label-default">{{ curso.nivel|title }}</span>
                                        <span class="label label-default">{{ curso.tipo|title }}</span>
                                        <span class="label label-default">{{ curso.lugar }}</span>
                                        <span class="label label-default">{{ curso.horas }} horas por semana</span>

                                        <p class="pull-right">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ cursomodalshow }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            {% if enviado != true  %}
                                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ cursomodaledit }}">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ cursomodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ cursomodalshow }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ cursomodalshow }}Label">{{ curso.nombre |title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Cursos:show", {'id': curso.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="{{ cursomodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ cursomodaledit }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ cursomodaledit }}Label">Cursos y seminarios</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Cursos:edit", {'id': curso.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Cursos y seminarios -->

{% endblock %}
