{% form_theme form 'form_errors.html.twig' %}

{{ form_start(form, {'action': path('cursos_new')}) }}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-group">
                    <div>
                        {{ form_label(form.nombre) }}
                    </div>
                    <div>
                        {{ form_widget(form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del curso o seminario'} } ) }}
                    </div>
                    <div>{{ form_errors(form.nombre) }}</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div>
                        {{ form_label(form.tipo) }}
                    </div>
                    <div>
                        {{ form_widget(form.tipo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Curso o seminario'} } ) }}
                    </div>
                    <div>{{ form_errors(form.tipo) }}</div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <div>
                        {{ form_label(form.nivel) }}
                    </div>
                    <div>
                        {{ form_widget(form.nivel,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nivel del curso o seminario'} } ) }}
                    </div>
                    <div>{{ form_errors(form.nivel) }}</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div>
                        {{ form_label(form.horas) }}
                    </div>
                    <div>
                        {{ form_widget(form.horas,{'attr': {'class': 'form-control input-sm', 'placeholder':'Número de horas'} } ) }}
                    </div>
                    <div>{{ form_errors(form.horas) }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div>{{ form_label(form.lugares) }}</div>
                    <div>{{ form_widget(form.lugares, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div>{{ form_errors(form.lugares) }}</div><br>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <div>{{ form_label(form.lugar) }}</div>
                    <div>{{ form_widget(form.lugar, {'attr': {'class': 'form-control input-sm', 'placeholder':'Otro lugar'} } ) }}</div>
                    <div>{{ form_errors(form.lugar) }}</div><br>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        <input type="submit" value="Guardar"  class="btn btn-primary"/>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {{ form_end(form) }}
    </div>
</div>
