<div class="panel panel-default">

    <div class="panel-body">

        <div class="row">

            <div class="col-md-6">
                <dl>
                    <dt>Lugar donde se impartió</dt>
                    <dd>{{ curso.lugar }}</dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>Tipo</dt>
                    <dd>{{ curso.tipo }}</dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>Nivel</dt>
                    <dd>{{ curso.nivel }}</dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>Total de horas por semana</dt>
                    <dd>{{ curso.horas }}</dd>
                </dl>
            </div>

        </div>

    </div>

</div>


<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {% if enviado != true %}
            <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')" >
        {% endif %}
        {{ form_end(delete_form) }}
    </div>
</div>