{% block wrapper %}

    <div class="row page-header">
        <div class="col-xs-6">
            <p><small><strong>Académico:</strong> {{ academico.nombre }} {{ academico.apellido }}</small> </p>
            <h4>Informe de actividades 2018</h4>
        </div>
        <div class="col-xs-6">
            <p class="text-right"><img class="right" src="{{ asset('img/ccm.png', absolute=true) }}" width="180px" height="60px" /></p>
        </div>
    </div>

    <div class="container-fluid">

    {% if tecnicos.informeAnual |length == 0 %}
        No se ha registrado información<br><br>
    {% else %}
        {{ tecnicos.informeAnual| nl2br }}<br><br>
    {% endif %}

    </div>

    <div class="row page-header">
        <div class="col-xs-6">
            <h4>Plan de trabajo 2019</h4>
        </div>
    </div>


    <div class="container-fluid">
    {% if tecnicos.plan |length == 0 %}
        No se ha registrado información<br><br>
    {% else %}
        {{ tecnicos.plan| nl2br }}<br><br>
    {% endif %}

    </div>

{% endblock %}