{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Investigación</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Titulo</th>
                <th>Autores</th>
                <th>Year</th>
                <th>Pags</th>
                <th>Volumen</th>
                <th>Numero</th>
                <th>Status</th>
                <th>Issn</th>
                <th>Proyectos</th>
                <th>Indizado</th>
                <th>Revista</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for investigacion in investigacions %}
            <tr>
                <td><a href="{{ path('investigacion_show', { 'id': investigacion.id }) }}">{{ investigacion.id }}</a></td>
                <td>{{ investigacion.tipo }}</td>
                <td>{{ investigacion.titulo }}</td>
                <td>{{ investigacion.autores }}</td>
                <td>{{ investigacion.year }}</td>
                <td>{{ investigacion.pags }}</td>
                <td>{{ investigacion.volumen }}</td>
                <td>{{ investigacion.numero }}</td>
                <td>{{ investigacion.status }}</td>
                <td>{{ investigacion.issn }}</td>
                <td>{{ investigacion.proyectos }}</td>
                <td>{% if investigacion.indizado %}Yes{% else %}No{% endif %}</td>
                <td>{{ investigacion.revista }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('investigacion_show', { 'id': investigacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('investigacion_edit', { 'id': investigacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('investigacion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
