{% extends 'dash/index.html.twig' %}

{% block wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
        </div>
    </div>

    <div class="row">

    <!-- Investigación -->
    <div class="col-lg-9">

        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}">Inicio</a></li>
            <li class="active">Informe</li>
            <li class="active">Investigación</li>
        </ol>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-bar-chart fa-1x" aria-hidden="true"></i> <strong>Investigación</strong>
                        </a>
                        {% if enviado != true  %}
                            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#invesnewModal" >
                                <i class="fa fa-plus"></i> Nuevo </button>
                        {% endif %}
                        <!-- Button trigger modal -->
                    </h4>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="invesnewModal" tabindex="-1" role="dialog" aria-labelledby="invesnewModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="invesnewModalLabel">Investigación</h4>
                            </div>
                            <div class="modal-body">
                                {% render(controller('InformeBundle:Investigacion:new')) %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                    <ul class="list-group">

                        {% for investigacion in investigaciones %}
                            {% set modalshow = 'invesshowModal'~ investigacion.id  %}
                            {% set modaledit = 'inveseditModal'~ investigacion.id  %}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="page-header"><h4><i class="fa fa-file-o" aria-hidden="true"></i> {{ investigacion.titulo }}<small> {{ investigacion.tipo|title  }}</small></h4></div>
                                        <em>{{ investigacion.autores }}</em>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ modalshow }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            {% if enviado != 1 %}
                                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ modaledit }}" >
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            {% endif %}
                                        </p>
                                        <p>
                                            <strong>{{ investigacion.revista }}</strong>
                                            Volume {{ investigacion.volumen }}, {{ investigacion.year }}, Issue {{ investigacion.numero }} <br>
                                            ISSN: {{ investigacion.issn }}
                                            {# Volume 25, Issue 8, 1 July 2016, Article number 1642011 #}
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ modalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalshow }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ modalshow }}Label">{{ investigacion.titulo |title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Investigacion:show", {'id': investigacion.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ modaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ modaledit }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ modaledit }}Label">Investigación</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Investigacion:edit", {'id': investigacion.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Investigación -->

{% endblock %}