
    <div class="panel panel-default">

        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt>Autores</dt>
                        <dd>{{ investigacion.autores }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Tipo</dt>
                        <dd>{{ investigacion.tipo }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                       <dl>
                            <dt>Año</dt>
                            <dd>{{ investigacion.year }}</dd>
                        </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Páginas</dt>
                        <dd>{{ investigacion.pags }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Volúmen</dt>
                        <dd>{{ investigacion.volumen }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Número</dt>
                        <dd>{{ investigacion.numero }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Status</dt>
                        <dd>{{ investigacion.status }}</dd>
                    </dl>
                </div>
                <div class="col-md-8">
                    <dl>
                        <dt>Revista</dt>
                        <dd>{{ investigacion.revista }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>ISSN</dt>
                        <dd>{{ investigacion.issn }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Indizado</dt>
                        <dd>{% if investigacion.indizado %}Si{% else %}No{% endif %}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Proyectos</dt>
                        <dd>{{ investigacion.proyectos }}</dd>
                    </dl>
                </div>

            </div>



        </div>
    </div>


    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">

            {{ form_start(delete_form) }}
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            {% if enviado != true %}
                <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')" >
            {% endif %}

            {{ form_end(delete_form) }}

        </div>
    </div>



