{% form_theme edit_form 'form_errors.html.twig' %}

{{ form_start(edit_form, {'action': path('estudiantes_edit', { 'id': id})}) }}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(edit_form.alumno) }}
                        </div>
                        <div>
                            {{ form_widget(edit_form.alumno,{'attr': {'class': 'form-control input-sm', 'placeholder':'Título'} } ) }}
                        </div>
                        <div>{{ form_errors(edit_form.alumno) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(edit_form.programa) }}
                        </div>
                        <div>
                            {{ form_widget(edit_form.programa,{'attr': {'class': 'form-control input-sm', 'placeholder':'Título'} } ) }}
                        </div>
                        <div>{{ form_errors(edit_form.programa) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(edit_form.tesis) }}
                        </div>
                        <div>
                            {{ form_widget(edit_form.tesis,{'attr': {'class': 'form-control input-sm', 'placeholder':'Título'} } ) }}
                        </div>
                        <div>{{ form_errors(edit_form.tesis) }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        <input type="submit" value="Guardar"  class="btn btn-primary"/>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {{ form_end(edit_form) }}
    </div>
</div>