{% form_theme form 'form_errors.html.twig' %}

{{ form_start(form, {'action': path('estudiantes_new')}) }}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(form.alumno) }}
                        </div>
                        <div>
                            {{ form_widget(form.alumno,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del alumno'} } ) }}
                        </div>
                        <div>{{ form_errors(form.alumno) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(form.programa) }}
                        </div>
                        <div>
                            {{ form_widget(form.programa,{'attr': {'class': 'form-control input-sm', 'placeholder':'Programa'} } ) }}
                        </div>
                        <div>{{ form_errors(form.programa) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            {{ form_label(form.tesis) }}
                        </div>
                        <div>
                            {{ form_widget(form.tesis,{'attr': {'class': 'form-control input-sm', 'placeholder':'Tesis'} } ) }}
                        </div>
                        <div>{{ form_errors(form.tesis) }}</div>
                    </div>
                </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">
        <input type="submit" value="Guardar"  class="btn btn-primary"/>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        {{ form_end(form) }}
    </div>
</div>
