{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row">

        <div class="col-lg-12">
            <p></p>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>

    <div class="page-header">
        <h1>Estudiantes</h1>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ estudiante.alumno |title}}</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Programa</dt>
                    <dd>{{ estudiante.programa }}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt>Tesis</dt>
                    <dd>{{ estudiante.tesis }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">

            {{ form_start(delete_form) }}
            <a class="btn btn-primary" href="{{ path('estudiantes_edit', { 'id': estudiante.id }) }}">Modificar</a>
            <a class="btn btn-warning" href="{{ path('dashboard') }}">Cancelar</a>
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

        </div>
    </div>



{% endblock %}
