{% extends 'base.html.twig' %}



{% block title %}CCM - Dashboard{% endblock %}

{% block css %}

    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/ccmsia/css/responsive-calendar.css') }}" type="text/css"/>

{% endblock %}

{% block sidebar %}


    <li>
        <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Informe anual<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('investigacion_index') }}">Investigación</a>
            </li>
            <li>
                <a href="{{ path('estudiantes_index') }}">Estudiantes</a>
            </li>
            <li>
                <a href="{{ path('cursos_index') }}">Cursos y seminarios</a>
            </li>
            <li>
                <a href="{{ path('proyectos_index') }}">Proyectos</a>
            </li>
            <li>
                <a href="{{ path('eventos_index') }}">Eventos</a>
            </li>
            <li>
                <a href="{{ path('salidas_index') }}">Licencias y comisiones</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>

    <li>
        <a href="{{ path('dashboard')}} "> <i class="fa fa-table fa-fw"></i> Plan de trabajo </a>
    </li>

{% endblock %}

{% block wrapper %}


    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>


    <div class="row">


        <div class="col-lg-6 col-md-6">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> Informe anual
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('investigacion_index',{'investigaciones':investigaciones} ) }} "> <h5>Investigación</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('estudiantes_index',{'estudiantes':estudiantes} ) }} "> <h5>Estudiantes</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-university fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('cursos_index',{'cursos':cursos} ) }} "> <h5>Cursos y seminarios</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('proyectos_index',{'proyectos':proyectos} ) }} "> <h5>Proyectos</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('eventos_index',{'eventos':eventos} ) }} "> <h5>Eventos</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-globe fa-3x" aria-hidden="true"></i></dt>
                                        <dd><a href="{{ path('salidas_index',{'salidas':salidas} ) }} "> <h5>Licencias y Comisiones</h5></a></dd>
                                    </dl>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2 col-md-2 text-center">
                                        <dl>
                                            <dt><i class="fa fa-print fa-3x" aria-hidden="true"></i></dt>
                                            <dd> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Vista previa</button> </dd>
                                        </dl>

                                    </div>

                                    <div class="col-lg-2 col-md-2 text-center">
                                        <dl>
                                            <dt><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></dt>
                                            <dd><a href="{{ path('informe_pdf') }} "> <h5>Descargar</h5></a></dd>
                                        </dl>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i> Plan de trabajo
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        {% if planes|length == 0 %}
                                            <dt><i class="fa fa-plus fa-3x" aria-hidden="true"></i></dt>
                                            <dd><a href="{{ path('plan_new')}} "> <h5>Nuevo plan de trabajo </h5></a></dd>
                                        {% else %}
                                            {% set planid = "" %}
                                            {% set enviado = "" %}
                                            {% for plan in planes %}
                                                <dt><i class="fa fa-edit fa-3x" aria-hidden="true"></i></dt>
                                                <dd><a href="{{ path('plan_edit', {'id': plan.id} )}} "> <h5>Modificar plan de trabajo </h5></a></dd>
                                                {% set planid = plan.id %}
                                                {% set enviado = plan.enviado %}
                                            {% endfor %}

                                        {% endif %}

                                    </dl>
                                </div>
                                <div class="col-lg-2 col-md-2 text-center">
                                    <dl>
                                        <dt><i class="fa fa-print fa-3x" aria-hidden="true"></i></dt>
                                        <dd> <h5>Vista previa</h5></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a data-toggle="modal" data-target="#myModal2" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Envío de información
                            </a>
                        </h4>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Mensajes</h3>
                </div>
                <div class="panel-body">

                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-exclamation-triangle media-object fa-2x text-info" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <span class="alert-info"> <h4 class="media-heading">Informe 2016 y Plan de trabajo 2017</h4></span>
                            <p class="text-info">La fecha límite para la recepción de información envío es el 01 de enero de 2017.</p>
                        </div>
                    </div>

                    {% if enviado %}

                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-check media-object fa-2x text-success" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <span class="alert-success"> <h4 class="media-heading">Hemos recibido tu información.</h4></span>
                                <p class="text-success">Se ha recibido la información de tu informe y plan de trabajo.</p>
                            </div>
                        </div>

                    {% else %}
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-times media-object fa-2x text-danger" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <span class="alert-danger"> <h4 class="media-heading">No hemos recibido tu información</h4></span>
                                <p class="text-danger">Aún no se ha recibido información de tu informe y plan de trabajo.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>






    <!-- Modal informe -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Informe anual</h4>
                </div>
                <div class="modal-body">

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#investigacion" aria-controls="investigacion" role="tab" data-toggle="tab"> <i class="fa fa-bar-chart" aria-hidden="true"></i> Investigación</a></li>
                            <li role="presentation"><a href="#estudiantes" aria-controls="estudiantes" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Estudiantes</a></li>
                            <li role="presentation"><a href="#cursos" aria-controls="cursos" role="tab" data-toggle="tab"><i class="fa fa-university" aria-hidden="true"></i> Cursos</a></li>
                            <li role="presentation"><a href="#proyectos" aria-controls="proyectos" role="tab" data-toggle="tab"><i class="fa fa-tasks" aria-hidden="true"></i> Proyectos</a></li>
                            <li role="presentation"><a href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab"><i class="fa fa-calendar" aria-hidden="true"></i> Eventos</a></li>
                            <li role="presentation"><a href="#salidas" aria-controls="salidas" role="tab" data-toggle="tab"><i class="fa fa-globe" aria-hidden="true"></i> Salidas</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="investigacion">
                                <br>
                                {% if investigaciones|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for investigacion in investigaciones %}

                                        <p><strong>{{ investigacion.titulo|title }}</strong>, {{ investigacion.autores }}, {{ investigacion.tipo }}
                                            {{ investigacion.year }}, {{ investigacion.pags }} págs., Vol. {{ investigacion.volumen }},  {{ investigacion.numero }},
                                            {{ investigacion.status }}, {{ investigacion.indizado }}, {{ investigacion.revista }}, {{ investigacion.issn }}
                                            {{ investigacion.proyectos }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="estudiantes">
                                <br>
                                {% if estudiantes|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for estudiante in estudiantes %}
                                        <p><strong>{{ estudiante.alumno|title }}</strong>, {{ estudiante.programa }}, {{ estudiante.tesis }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="cursos">
                                <br>
                                {% if cursos|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for curso in cursos %}
                                        <p><strong>{{ curso.nombre|title }}</strong>, {{ curso.tipo }}, {{ curso.nivel }}, {{ curso.horas }}, {{ curso.lugar }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="proyectos">
                                <br>
                                {% if proyectos|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for proyecto in proyectos %}
                                        <p><strong>{{ proyecto.nombre|title }}</strong>, {{ proyecto.numero }}, {{ proyecto.tipo }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="eventos">
                                <br>
                                {% if eventos|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for evento in eventos %}
                                        <p><strong>{{ evento.tipo|title }}</strong>, {{ evento.nombre }}, Organizador: {{ evento.organizador }}, Nacional: {{ evento.nacional }}
                                            {{ evento.pais }}, {{ evento.institucion }}, {{ evento.platica }}, {{ evento.actividad }}, {{ evento.inicio|date() }}, {{ evento.fin|date() }},
                                            {{ evento.informacion }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="salidas">
                                <br>
                                {% if salidas|length == 0 %}
                                    No se ha registrado información<br><br>
                                {% else %}
                                    {% for salida in salidas %}
                                        <p><strong>{{ salida.tipo|title }}</strong>, {{ salida.pais }}, {{ salida.ciudad }}, Nacional: {{ salida.estado }}
                                            {{ salida.profesor }}, {{ salida.actividad }},
                                            {% for proposito in salida.propositos %}
                                                {{ proposito }},
                                            {% endfor %}
                                            {{ salida.proyecto }}, {{ salida.inicio|date() }}, {{ salida.fin|date() }},
                                            {{ salida.trabajo }}, {{ salida.observaciones }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal envío -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Envío de información</h4>
                </div>

                {% if enviado %}
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-2 text-center">
                            <p class="text-justify alert alert-success">Hemos enviado un acuse de recibo a tu correo <em><strong>{{ user~'@matmor.unam.mx' }}</strong></em></p>
                        </div>
                    </div>
                {% else %}
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-2 text-center">
                            <p class="text-justify alert alert-info">Al momento de enviar tu informe y plan de trabajo recibirás un acuse de recibo a tu correo <em><strong>{{ user~'@matmor.unam.mx' }}</strong></em></p>
                            <p><a class="btn btn-primary" href="{{ path('informe_send',{'id': planid } ) }}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar informe y plan de trabajo</a></p>
                        </div>
                    </div>
                {% endif %}

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}