{% extends 'base.html.twig' %}

{% block title %}CCM - Dashboard{% endblock %}

{% block css %}

    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/ccmsia/css/responsive-calendar.css') }}" type="text/css"/>

{% endblock %}

{% block sidebar %}
    <li>
        <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Informe anual<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('investigacion_index') }}">Investigación</a>
            </li>
            <li>
                <a href="{{ path('estudiantes_index') }}">Estudiantes</a>
            </li>
            <li>
                <a href="{{ path('cursos_index') }}">Cursos y seminarios</a>
            </li>
            <li>
                <a href="{{ path('proyectos_index') }}">Proyectos</a>
            </li>
            <li>
                <a href="{{ path('eventos_index') }}">Eventos</a>
            </li>
            <li>
                <a href="{{ path('salidas_index') }}">Licencias y comisiones</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Plan de trabajo</a>
    </li>
{% endblock %}

{% block wrapper %}


    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>


    <div class="row">

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-clock-o" aria-hidden="true"></i> Informe anual</h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('investigacion_index',{'investigaciones':investigaciones} ) }} "> <h5>Investigación</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('estudiantes_index',{'estudiantes':estudiantes} ) }} "> <h5>Estudiantes</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-university fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('cursos_index',{'cursos':cursos} ) }} "> <h5>Cursos y seminarios</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('proyectos_index',{'proyectos':proyectos} ) }} "> <h5>Proyectos</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('eventos_index',{'eventos':eventos} ) }} "> <h5>Eventos</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-globe fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('salidas_index',{'salidas':salidas} ) }} "> <h5>Licencias y Comisiones</h5></a></dd>
                            </dl>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-print fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="#"> <h5>Vista previa</h5></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Mensajes</h3>
                </div>
                <div class="panel-body">

                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-exclamation-triangle media-object fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <span class="alert-warning"> <h5 class="media-heading">Informe 2016 </h5></span>
                            <p><mark>La fecha límite para el envío es el 01-02-2017</mark></p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-times media-object fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <span class="alert-warning"> <h5 class="media-heading">No se ha enviado información</h5></span>
                            <p><mark>Aun no se ha recibido información de tu informe o plan de trabajo</mark></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-calendar-o" aria-hidden="true"></i> Plan de trabajo</h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('investigacion_index',{'investigaciones':investigaciones} ) }} "> <h5>Investigación</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('estudiantes_index',{'estudiantes':estudiantes} ) }} "> <h5>Estudiantes</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-university fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('cursos_index',{'cursos':cursos} ) }} "> <h5>Cursos y seminarios</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('proyectos_index',{'proyectos':proyectos} ) }} "> <h5>Proyectos</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('eventos_index',{'eventos':eventos} ) }} "> <h5>Eventos</h5></a></dd>
                            </dl>
                        </div>

                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-globe fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="{{ path('salidas_index',{'salidas':salidas} ) }} "> <h5>Licencias y Comisiones</h5></a></dd>
                            </dl>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 text-center">
                            <dl>
                                <dt><i class="fa fa-print fa-3x" aria-hidden="true"></i></dt>
                                <dd><a href="#"> <h5>Vista previa</h5></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>










{% endblock %}