{# src/AppBundle/Resources/views/layout-pdf.html.twig #}
<meta charset="UTF-8" />

{% block body %}
    {# Layout for PDF files #}
    <div>
        {% block content %}

            <strong>Informe</strong> 2016<br>
            Académico: {{ user }}<br><br>

            <strong>Investigación</strong><br>
            {% if investigaciones|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for investigacion in investigaciones %}
                        <li>{{ investigacion.titulo |title }},<em> {{ investigacion.autores }}</em>, <small>{{ investigacion.tipo|title }}</small>, {{ investigacion.year  }}
                            Vol. {{ investigacion.volumen }}, {{ investigacion.pags }} págs., ISSN: {{ investigacion.issn  }}<br></li>
                    {% endfor %}
                </ul>

            {% endif %}

            <strong>Estudiantes</strong><br>
            {% if estudiantes|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for estudiante in estudiantes %}
                        <li>{{ estudiante.alumno |title }}, <small>{{ estudiante.programa|title }}</small>,<em> {{ estudiante.tesis }}</em>
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <strong>Cursos y seminarios</strong><br>
            {% if cursos|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for curso in cursos %}
                        <li>{{ curso.nombre|title }}, <small>{{ curso.tipo|title }}</small>,<em> {{ curso.nivel }}, {{ curso.horas }}, {{ curso.lugar }}</em>
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <strong>Proyectos</strong><br>
            {% if proyectos|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for proyecto in proyectos %}
                        <li>{{ proyecto.nombre|title }}, <small>{{ proyecto.tipo|title }}</small>,<em> {{ proyecto.numero }}</em>
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <strong>Eventos</strong><br>
            {% if eventos|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for evento in eventos %}
                        <li>{{ evento.nombre|title }}, <small>{{ evento.tipo|title }}</small>,<em> {{ evento.institucion }}</em>, {{ evento.actividad }}, {{ evento.institucion }}, {{ evento.pais }}
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <strong>Licencias y comisiones</strong><br>
            {% if salidas|length == 0 %}
                No se ha registrado información<br><br>
            {% else %}
                <ul>
                    {% for salida in salidas %}
                        <li>{{ salida.pais|title }}, <small>{{ salida.tipo|title }}</small>,<em> {{ salida.universidad }}</em>, {{ salida.actividad }},
                            {% for proposito in salida.propositos %}
                                {{ proposito }},
                            {% endfor %}
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endblock %}
    </div>
{% endblock %}

