{% extends 'dash/index.html.twig' %}

{% block css %}

    {{ parent() }}

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">

{% endblock %}

{% block wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>


    <div class="row">

        <!-- Salidas -->
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}">Inicio</a></li>
                <li class="active">Informe</li>
                <li class="active">Licencias y Comisiones</li>
            </ol>

            <div class="alert alert-info" role="alert">
                <p class="text-justify"><strong><i class="fa fa-info-circle" aria-hidden="true"></i> Descripción:</strong> en este rubro deberá reportar las licencias y comisiones dentro del periodo que corresponde a su informe.</p>
                <p class="text-justify"><strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Importante</strong>:
                    el sistema ha agregado la información que nos proporciona la Secretaría Académica. Favor de verificar que sea correcta y en caso contrario puede corregirla.
                    Si hubiera alguna licencia o comisión faltante favor de agregarla.</p>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa fa-globe fa-1x" aria-hidden="true"></i> <strong>Licencias y comisiones</strong>
                        </a>
                        {% if enviado != true  %}
                        <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#salidasnewModal">
                            <i class="fa fa-plus"></i> Nuevo </button>
                        {% endif %}
                        <!-- Button trigger modal -->
                    </h4>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="salidasnewModal" tabindex="-1" role="dialog" aria-labelledby="salidasnewModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="salidasnewModalLabel">Licencias y comisiones</h4>
                            </div>
                            <div class="modal-body">
                                {% render(controller('InformeBundle:Salidas:new')) %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                    <ul class="list-group">

                        {% for salida in salidas %}
                            {% set salidamodalshow = 'salidashowModal'~ salida.id  %}
                            {% set salidamodaledit = 'salidaeditModal'~ salida.id  %}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="page-header"><h4>{{ salida.universidad|title }}<small><strong> - {{ salida.inicio|localizeddate('long', 'none')  }}</small></strong></h4></div>
                                        <p>{{ salida.actividad }}</p>
                                        <i class="fa fa fa-plane " aria-hidden="true"></i>
                                                    <span class="user-info">
                                                    <strong>{{ salida.pais|title }}</strong>
                                                        <span class="label label-default"><small>{{ salida.tipo |title}}</small></span></span>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ salidamodalshow }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            {% if enviado != true  %}
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ salidamodaledit }}">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ salidamodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ salidamodalshow }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ salidamodalshow }}Label">{{ salida.tipo |title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Salidas:show", {'id': salida.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="{{ salidamodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ salidamodaledit }}Label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="{{ salidamodaledit }}Label">Licencias y comisiones</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% render controller("InformeBundle:Salidas:edit", {'id': salida.id}) %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Salidas -->

{% endblock %}


{% block javascript %}

    {{ parent() }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>

    <script type="text/javascript">
        $('.select2-multiple').select2( {
            theme: "bootstrap",
            placeholder: "Propositos",
            maximumSelectionSize: 4,
            containerCssClass: ':all:',
            width: '100%'
        } );

        $( ":checkbox" ).on( "click", function() {
            $( this ).parent().nextAll( "select" ).prop( "disabled", !this.checked );
        });
    </script>

{% endblock %}