<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>País</dt>
                    <dd>{{ salida.pais }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Ciudad</dt>
                    <dd>{{ salida.ciudad }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Estado</dt>
                    <dd>{{ salida.estado }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>Universidad</dt>
                    <dd>{{ salida.universidad }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>Profesor</dt>
                    <dd>{{ salida.profesor }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Actividad</dt>
                    <dd>{{ salida.actividad }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Propósito</dt>
                    <dd>{{ salida.proposito }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Proyecto</dt>
                    <dd>{{ salida.proyecto }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Inicio</dt>
                    <dd>{% if salida.inicio %}{{ salida.inicio|date('Y-m-d') }}{% endif %}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Fin</dt>
                    <dd>{% if salida.fin %}{{ salida.fin|date('Y-m-d') }}{% endif %}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt>Trabajo</dt>
                    <dd>{{ salida.trabajo }}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt>Observaciones</dt>
                    <dd>{{ salida.observaciones }}</dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">

        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')">
        {{ form_end(delete_form) }}

    </div>
</div>